/.idea/
/Generator/bin/
/Generator/obj/
/Interface/bin/
/Interface/obj/
/Game/obj/
/Game/bin/
/Game/Generator/**
/Client/obj/
/Client/bin/
/Client/Generator/**
/NetWork/obj/
/NetWork/bin/
/Edb/obj/
/Edb/bin/
/Util/obj/
/Util/bin/
/Evil/obj/
/Evil/bin/
**/*.g.cs