<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="Warn" >

    <!-- the targets to write to -->
    <targets>
        <!-- xml里不支持直接配\t，所以只能用&#x9;来代替 -->
        <target xsi:type="Console" name="console" layout="${longdate} [${threadname}-${threadid}] ${uppercase:${level}} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="Console" />
    </rules>
</nlog>